<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"	
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"	
	>
	  
<head>
	<meta charset="UTF-8"/>
	<title>Cobrança</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="sytlesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.standalone.min.css">	
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/cobranca.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/bootstrap-datepicker.pt-BR.min.js"></script>

</head>

<body>
	
	<header th:replace="Cabecalho"></header>
	
	<section layout:fragment="conteudo">
		<p>Conteúdo principal</p>
	</section>
	
</body>	